:css
  .btn-primary {
    box-shadow: 0; 
    border: none;
    background-color: #48c9b0;
    border-color: #48c9b0;
    outline: none;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: all .5s;
    padding: 10px 19px;
    font-size: 17px;
    line-height: 1.471;
    width: 30%;
    border-radius: 3px;
    text-transform: uppercase;
    margin: auto;
    margin-top: 1.44em;
    margin-bottom: .55em;
    display: inherit;
    text-decoration: none; !important;
    color: white; !important;
  }

    a:link {
      color: #fff; !important;
      text-decoration: none; !important;
    }
    a:visited {
      color: #fff; !important;
      text-decoration: none; !important;
    }
    a:hover {
      color: #333333; !important;
      text-decoration: none; !important;
    }
    a:active {
      color: #333333; !important;
      text-decoration: none; !important;
    }

  .media="screen" a {
    color: white; !important
  }

  #contact-send {
    text-decoration: none; !important;
    color: white; !important;

  }

  .btn-primary:hover {
    background-color: #1ABC9C;
    text-color: white; !important;
  }

.home
  .container

    %h3
      Now, upload a few pictures

    .col-md-4
      .value
        Upload files to
        = @folder.name
    .drop-area
      .row
        .col-md-12
          = simple_form_for(:vault, html:{class: 'dropzone', id:'my-dropzone'}, url: upload_url(@folder.id))  {}
    %button.btn.btn-primary.btn-lg.btn-block{:type => "form-description"}
      = link_to "Submit", display_claim_path(@folder.id)

:javascript
  Dropzone.options.myDropzone = {
    init: function() {
      this.on("queuecomplete", function(file) {
        setTimeout(function();
      });
    }
  };
