

.row
  %h5(style="font-size: 120%;")
    = link_to '<< Back to Loan Documents', '/loan-documents'
  .container(style="text-align:center;")
    %iframe{:src => @url, :width => '960px', :height => '850px', :frameBorder => '0', :allowfullscreen => 'allowfullscreen'}
