

.home
  %h5(style="margin-top: -5px; font-size: 120%;")
    = link_to '<< Back to Loan Documents', '/loan-documents'
  .container(style="text-align:center;")
    -# = render 'layouts/sidenav'
    -# .col-md-9.col-sm-8.col-xs-9.pull-right

    %iframe{:src => @url, :width => '960px', :height => '850px', :frameBorder => '0', :allowfullscreen => 'allowfullscreen'}
