%table{:style => "margin-top: 45px; margin-left: 30px"}
  %thead
    %tr
      %th Document Number
      %th Date Submitted
      %th Type
  %tbody
  -@workflowItems.each do |result|
    %tr
      %td
        = result.name
      %td
        = result.content_created_at[0,10]
      %td
        = "QMS Documents"
     
