%form.col.s12{:style => "margin-top: 5%;", :method => "post", :action => qms_create_folder_path}
  .row
    .input-field.col.s6
      %i.material-icons.prefix assignment
      %label{:for => "proposal"} Document Number
      %input#proposal.validate{:type => "text", :name => "proposal"}
        %button.waves-effect.btn.white.black-text{:type => "submit", :style => "font-size: 10px; margin-left: 80%;"} Create

:javascript
  Dropzone.options.myAwesomeDropzone = {
    init: function() {
      this.on("queuecomplete", function(file) {
        setTimeout(function() {location.reload();}, 1000);
      });
    }
  };
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
  function myFunction() {
    document.getElementById("myBtn").disabled = true;
  }
