:css
  .lity-iframe .lity-container {
    width: 100%;
    max-width: 1200px;
  }

.container
  = render 'layouts/sidenav'
  .row
    .index-banner.section.no-pad-bot
  .row
    .col.m12.l10.push-l2{:style => "margin-top: 25px;"}
      %h3.thin{:style => "margin-top: 40px; font-size: 28px; letter-spacing: 1.5px; text-color: #002557;"}
        %i.material-icons.prefix{:style => "font-size: 28px;"} aspect_ratio
        DICOM Viewer
      %h6.caption.thin{:style => "font-size: 16px;"}
        Diagnostic quality viewing on web or mobile

  .row
    .col.s10.push-s2
      %table.highlight.resources_table
        %thead
          %tr
            %th{"data-field" => "id"} File

        - ["dicom1"].each_with_index do |result, i|
          %tr{"data-lity" => "", :href => dicom_view_url('50634725361'), :class => "tooltipped", 'data-position'=>"left", 'data-delay'=>"50", 'data-tooltip'=>"View"}
            %td
              .name_elipses
                = result
  