:css
  .header {
    display: none;
  }
  .footer {
    display: none;
  }

.div{:style => "margin-top: 100px; text-align: center"}
  .h3
    Viewing for the selected file type is not yet supported
  .h4
    File types currently supported: MS office files, pdf, png, jpeg, jpg, mov, mp4
