
%h5(style="margin-top: -5px; font-size: 120%;")
  = link_to '<< Back to My Vault', dashboard_path(session[:current_folder])

.container
  .col-md-10
    %iframe{:height => "600", :src => @preview_url}
  .col-md-2
