%body.bg{:onclick => "goto();", :style => "height: 100vh; background: url(#{session[:background]}) no-repeat center fixed !important; background-size: cover"}

-# %body.enterPage{:onclick => "goto();", :style => "height: 100%"}

:javascript

  function goto(){
      location.href = "/"
  }
