:css
  .item {
      display: table-cell;
      border:3px solid #F1F3FA;
  }

%h3
  Set header config options:

%section#config-form
  %form{:action => save_config_path, :method => "post", :role => "form"}
    .form-group.col-md-7
      %label{:for => "company"} Company Name
      %input.form-control#company{:type => "text", :name => "company", :placeholder => "Blue Insurance"}
      %label{:for => "logo"} Company Logo URL
      %input.form-control#logo{:type => "text", :name => "logo", :placeholder => "logo.png"}
      %label{:for => "navbar_color"} Navbar Background Color
      %input.form-control#navbar_color{:type => "text", :name => "navbar_color", :placeholder => "ffffff"}

    .form-group.col-md-12.item
      %input.btn.btn-default{:type => "submit", :value => "Save"}

%container.col-md-12{:role => "group"}

  %form.item{:action => reset_config_path(reset: 'reset'), :method => "get"}
    %button.btn.btn-default{:type => "submit", :type => "form"} Reset
  %form.item{:action => "/", :method => "get", :role => "form"}
    %input.btn.btn-default{:type => "submit", :value => "Main Page"}

%section
  %h3
    %table.table.table-striped
      %colgroup
        %col.col-md-4
        %col.col-md-7
      %thead
        %tr
          %th Attribute Name
          %th Attribute Value
      %tbody
        %tr
          %td Company Name:
          %td
            = session[:company]
        %tr
          %td Logo:
          %td
            %img{:src => session[:logo], :style => "max-height:100px"}
        %tr
          %td Navbar Primary Color:
          %td
            = session[:navbar_color]
        %tr
          %td Encoded Branding URL:
          %td
            = session[:config_url]
