


#index-banner.section.no-pad-bot
  .container
    %h3.thin{:style => "margin-left: 165px; margin-top: 40px; font-size: 28px; letter-spacing: 1.5px; text-color: #002557;"}
      %i.material-icons.prefix{:style => "font-size: 28px;"} verified_user
      Onboarding Tasks
    %h6.caption.thin{:style => "margin-left: 165px; font-size: 16px;"}
      Follow these steps to complete the onboarding process

.container
  = render 'layouts/sidenav'
  .row
    - if (session[:progress] == 0)
      .row
        .col.s4.push-s10{:style => "margin-top:-20px;"}
          %h7
            Step 1 of 4
      .row
        .col.s4.push-s2
          %h6
            Enter your personal information here:
      .row
        .col.s5.push-s4
          %form.form-horizontal{:role => "form", :method => "post", :action => form_submit_path}
            .form-group
              %label.control-label.col-sm-2{:for => "tel"} Phone:
              %input#tel.form-control{:placeholder => "555-555-5555", :type => "tel", :name => "tel"}
            .form-group
              %label.control-label.col-sm-2{:for => "address"} Address:
              %input#address.form-control{:placeholder => "4 Privet Drive", :type => "text", :name => "address"}
            .form-group
              %label.control-label.col-sm-2{:for => "bday"} Date of Birth:
              %input#bday.form-control{:type => "date", :name => "bday"}
            .form-group
              %label.control-label.col-sm-2{:for => "id"} Customer ID:
              %input#id.form-control{:type => "text", :placeholder => "1234-1234132", :name => "id"}
            %input{:name => "formSubmit", :type => "hidden", :value => "true"}
            .form-group
              -# %a.waves-effect.btn.white.black-text{:type => "submit", :href => "#modal1", :style => "font-color: #263238 !important; text-decoration: none;"} Submit for Approval
              %button.waves-effect.btn.white.black-text{:type => "submit", :style => "text-decoration: none;"} Submit For Approval
    - elsif (session[:progress] == 1)
      .row
        .col.s4.push-s10{:style => "margin-top:-20px;"}
          %h7
            Step 2 of 4
      .row
        .col.s8.push-s3{:style => "margin-top: 30px;"}
          %h6{:style => "margin-bottom: 20px;"}
            Pending Employee Review:
          %iframe{:height => "600", :width => "100%", :src => @previewURL, :allowfullscreen => 'allowfullscreen'}
    - elsif (session[:progress] == 2)
      .row
        .col.s4.push-s10{:style => "margin-top:-20px;"}
          %h7
            Step 3 of 4
      .row
        .col.s8.push-s3{:style => "margin-top: 20px;"}
          %iframe{:src => @url, :width => '100%', :height => '600px', :frameBorder => '0', :allowfullscreen => 'allowfullscreen'}
    - elsif (session[:progress] == 3)
      .row
        .col.s4.push-s10{:style => "margin-top:-20px;"}
          %h7
            Complete!
      .row
        .col.s8.push-s3{:style => "margin-top: 20px;"}
          %h6{:style => "margin-bottom: 20px;"}
            You've completed the Onboarding process!
          %iframe{:height => "600", :width => "100%", :src => @previewURL, :allowfullscreen => 'allowfullscreen'}









-# .flash
-#   = render partial: "shared/flash_messages", flash: flash


.footer{:style=>"text-align: right; font-size: 10px; text-decoration: none;"}
  = link_to "reset", reset_workflow_path, {:style => "text-decoration: none;"}
