.container
  .row
    .index-banner.section.no-pad-bot
  .defaultsize
    %img.brand-logo{:src => session[:logo].blank? ? "https://hostr.co/file/J74UJ6Tj8q2w/ScreenShot2016-01-28at4.43.34PM.png" : "#{session[:logo]}", :style => "max-width: 220px; min-width: 220px;"}
  %div{:style => "margin-top: 20px; width: 100%; height: 52px; background-color: #013e75"}
    %ul.msg-header-list
      %li.msg-list-item.left
        %a{:href => "/"} Home
      %li.msg-list-item.left
        %a{:href => "/"} Admin
      %li.msg-list-item.left
        %a{:href => "/"} Support Services
      %li.msg-list-item.left
        %a{:href => "/"} Reporting
      %li.msg-list-item.right
        %a{:href => "/"}
          %i.material-icons.prefix{:style => "font-size: 28px;"} email
      %li.msg-list-item.right
        %a{:href => "/"}
          %i.material-icons.prefix{:style => "font-size: 28px;"} call
      %li.msg-list-item.right
        %a{:href => "/"}
          %i.material-icons.prefix{:style => "font-size: 28px;"} live_help
      %li.msg-list-item.right
        %a{:href => "/"}
          %i.material-icons.prefix{:style => "font-size: 28px;"} search

  .row
    .col.m12.l10.push-l1{:style => "margin-top: 25px;"}
      // Title
      .col.s12
        %h3.thin{:style => "margin-top: 40px; font-size: 28px; letter-spacing: 1.5px; text-color: #002557;"}
          %i.material-icons.prefix{:style => "font-size: 28px;"} email
          = alt_text("Message Center")

      -# Messages
      .col.s3.message-tabs
        %a.btn.white.black-text.disabled{:href => "#"} Compose

        .row
          .col.s9
            %h6.col.s9 Inbox
            %h6.col.s2 0
          .col.s9.sent-selected
            %h6.col.s9 Sent
            %h6.col.s2
              = @messages.size
          .col.s9
            %h6.col.s9 Deleted
            %h6.col.s2 0

      -# Compose Message
      .col.s9{:style => "margin-top: 40px"}
        %h5 Compose Message
        %p This compose message tool allows you to target specific audiences to send messages

        -# Message Form
        %form.form-horizontal{:role => "form", :method => "post", :action => "#", :enctype => "multipart/form-data"}

          .col.s12
            %label.control-label.col-sm-2{:for => "audience"} Audience:
            %div.radio-button-wrapper
              %input#audience_all.form-control.audience-radio{:type => "radio", :name => "audience_radio", :value => "audience_all"}
              %label{:for => "audience_all"} All City National Online Users
              %input#audience_business.form-control.audience-radio{:type => "radio", :name => "audience_radio", :value => "audience_business"}
              %label{:for => "audience_business"} City National Online Business Portal User
              %input#audience_personal.form-control.audience-radio{:type => "radio", :name => "audience_radio", :value => "audience_personal"}
              %label{:for => "audience_personal"} City National Online Personal Portal User

          .col.s6
            %label.control-label.col-sm-2{:for => "services"} Services:
            %div.checkbox-wrapper
              %input#services_all.form-control{:type => "checkbox", :name => "all", :value => "all"}
              %label{:for => "services_all"} All
              %br/
              %input#services_downstream.form-control{:type => "checkbox", :name => "downstream_service", :value => "downstream_service"}
              %label{:for => "services_downstream"} Downstream Service

          .col.s6
            %label.control-label.col-sm-2{:for => "user_roles"} User Roles:
            %div.checkbox-wrapper
              %input#user_roles_all.form-control{:type => "checkbox", :name => "all", :value => "all"}
              %label{:for => "user_roles_all"} All
              %br/
              %input#user_roles_client_admins.form-control{:type => "checkbox", :name => "client_admins", :value => "client_admins"}
              %label{:for => "user_roles_client_admins"} Client Admins
              %br/
              %input#user_roles_client_users.form-control{:type => "checkbox", :name => "client_users", :value => "client_users"}
              %label{:for => "user_roles_client_users"} Client Users
              %br/
              %input#user_roles_service_admins.form-control{:type => "checkbox", :name => "service_admins", :value => "service_admins"}
              %label{:for => "user_roles_service_admins"} Service Admins
              %br/
              %input#user_roles_service_users.form-control{:type => "checkbox", :name => "service_users", :value => "service_users"}
              %label{:for => "user_roles_service_users"} Service Users

          .col.s6
            %label.control-label.col-sm-2{:for => "companies"} Companies:
            %input#companies.form-control{:placeholder => "Select Companies", :type => "text", :name => "companies"}
          .col.s6
            %label.control-label.col-sm-2{:for => "users"} Users:
            %input#users.form-control{:placeholder => "", :type => "text", :name => "users"}

          .col.s6
            %label.control-label.col-sm-2{:for => "subject"} Subject:
            %input#subject.form-control{:type => "text", :placeholder => "Enter a subject", :name => "subject", :required => ""}

          .col.s12
            %label.control-label.col-sm-2{:for => "message"} Message:
            %textarea#message.form-control{:style => "height: 5rem !important", :type => "text", :placeholder => "Enter your message here", :name => "message"}

          .col.s12{:style => "margin-top: 20px"}
            %label.control-label.col-sm-2{:for => "files"} Add File(s): Suggested file types: .csv, .pdf, .xls, .xlsx, .docx, .doc
          .col.s12
            %input#files.multi{:type => "file", id: "files", :style => "margin-top: 10px", :name => "files[]", :multiple => true}

          .col.s12
            %input{:name => "formSubmit", :type => "hidden", :value => "true"}
            .form-group{:style => "margin-top: 40px"}
              %button.waves-effect.btn.white.black-text{:type => "submit", :style => "text-decoration: none;"} Send Message
              %a{:style => "margin-left: 20px", :href => "/messaging-system"} Cancel
