  body #a0-lock.a0-theme-default .a0-panel .a0-top-header {
    background: #fff;
  }

  body #a0-lock.a0-theme-default .a0-panel .a0-icon-container .a0-avatar img {
    height: 0px !important;
    width: 0px;
  }

  body #a0-lock.a0-theme-default .a0-panel .a0-bg-gradient {
    background: none;
  }

  body #a0-lock.a0-theme-default .a0-panel .a0-top-header {
    max-height: 100px;
    min-height: 100px;
  }

  body #a0-lock.a0-theme-default .a0-panel .a0-top-header h1 {
    margin-top: 10px;
  }
