



/* Smartphones (portrait) ----------- */
@media all and (min-width : 0px) and (max-width : 320px)
  .hide_mobile
    display: none !important

  // MY VAULT
  .index-banner
    background-color: #00184d
    height: 60px
    width: 100%
    position: fixed
    left: 0
    margin-top: 0px
    z-index: 10

  .lity_fullwidth
    width: 100%
    position: fixed
    left: 0
    margin-top: 0px
    

  .hide_below480
    display: none

  .hide_below768
    display: none

  .hide_below992
    display: none !important

  .hide_below1224
    display: none !important

  .help.btn
    display: none !important

  .uploadbtn
    margin-left: -90px

  .myvault_table
    margin-left: -35px

  #mobile-menu
    z-index: 999999 !important

  .lean-overlay
    z-index: -1 !important

  .name_elipses
    width: 10em
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .longer_name_elipses
    width: 14em
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  // RESOURCES
  .resources_table
    margin-left: -50px !important

  .reposition_floatleft_m
    display: inline-block

  // UPLOAD AND SIGN
  .uploadsign_table
    margin-left: -30px

  #search
    margin-left: -10px !important

  .filters
    display: none

  // LOAN ORIGINATION
  .loan_table
    margin-left: -50px !important

  .loanupload_btn
    margin-left: 85px

  // SUBMIT A CLAIM TABLE
  .claim_table
    margin-left: -25px !important

  // SETTINGS TABLE
  .settings_table
    margin-left: -45px !important

  // TAX RETURN
  .tax_table
    margin-left: -40px !important

  .mytax_table
    margin-left: -10px !important

  // MEDICAL CREDENTIALING
  .medcred_table
    margin-left: -30px !important

  .cred_table
    margin-left: -20px

/* Smartphones (landscape) ----------- */
@media all and (min-width : 321px) and (max-width : 480px)

  .hide_below480
    display: none !important

  .index-banner
    background-color: #00184d
    height: 60px
    width: 100%
    position: fixed
    left: 0
    margin-top: 0px
    z-index: 10

  .name_elipses
    width: 10em
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .hide_mobile
    display: none !important

    // MY VAULT
  .help-icon.btn
    display: none !important

  .uploadbtn
    margin-left: -90px

  #mobile-menu
    z-index: 999999 !important

  .lean-overlay
    z-index: -1 !important

  .myvault_table
    margin-left: -30px

  .flash
    margin-left: -50px

  .name_elipses
    width: 10em
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .longer_name_elipses
    width: 14em
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .filters
    display: none

  .hide_below768
    display: none

  .hide_below992
    display: none !important

  .hide_below1224
    display: none !important

  // RESOURCES
  .resources_table
    margin-left: -40px

  // UPLOAD AND SIGN
  .uploadsign_table
    margin-left: -30px

  // LOAN ORIGINATION
  .loan_table
    margin-left: -50px !important

  .loanupload_btn
    margin-left: 85px

  // TAX RETURN
  .tax_table
    margin-left: -60px !important

  .mytax_table
    margin-left: -40px !important

  // MEDICAL CREDENTIALING
  .medcred_table
    margin-left: -40px !important


/* Weird Small Tablets (landscape and portrait) ----------- */
@media all and (min-width : 481px) and (max-width : 768px)

  .index-banner
    background-color: #00184d
    height: 60px
    width: 100%
    position: fixed
    left: 0
    margin-top: 0px
    z-index: 10

  .hide_below768
    display: none

  .hide_below992
    display: none !important

  .hide_below1224
    display: none !important

  .name_elipses
    width: 15em
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .help-icon.btn
    display: none !important

  .hide_mobile
    display: none !important

  // MY VAULT
  .uploadbtn
    margin-left: -55px

  .lean-overlay
    z-index: -1 !important

  .myvault_table
    margin-left: -30px

  .filters
    display: none

  // RESOURCES

  // CONFIG

  .longer_name_elipses
    width: 14em
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  //UPLOAD AND SIGN
  .uploadsign_table
    margin-left: -30px

  //TAX RETURN
  .tax_table
    margin-left: -50px

  // MEDICAL CREDENTIALING
  .medcred_table
    margin-left: -40px !important

  // LOAN ORIGINATION
  .loanupload_btn
    margin-left: 30px

/* Mobile to iPad (landscape and portrait) ----------- */
@media all and (min-width : 769px) and (max-width : 992px)

  .index-banner
    background-color: #00184d
    height: 60px
    width: 100%
    position: fixed
    left: 0
    margin-top: 0px
    z-index: 10

  .hide_above768
    display: none !important

  .hide_below992
    display: none !important

  .hide_below1224
    display: none !important

  .help-icon.btn
    display: none !important

  .lean-overlay
    z-index: -1 !important

  //TAX RETURN
  .tax_table
    margin-left: -30px

/* Desktops and laptops ----------- */
@media all and (min-width : 993px) and (max-width : 1224px)
  .hide_above768
    display: none !important

  .hide_above992
    display: none !important

  .hide_below1224
    display: none !important

  .name_elipses
    // width: 10em
    // white-space: nowrap
    // overflow: hidden
    // text-overflow: ellipsis

  #mobile-menu
    display: none

  #search
    margin-left: 35px !important

@media all and (min-width : 1225px) and (max-width : 100000px)

  .hide_above992
    display: none !important

  .hide_above768
    display: none !important




/* Large s ----------- */
// @media all and (min-width: 1824px)
//   #mobile-menu
//     display: none
//
//   .hide_above768
//     display: none
