
.results
  .result-label
    font-size: 85%
  .result-data
    font-size: 85%

.form-search
  padding: 0px
  margin: 0
  //margin-bottom: 40px

.form-search .form-signin-heading,
.form-search .checkbox
  margin-bottom: 10px

.form-search .checkbox
  font-weight: normal

.form-search .form-control
  position: relative
  height: auto
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  // padding: 10px
  font-size: 16px

.form-search .form-control:focus
  z-index: 2

.form-search input[type="search"]
  margin-top: 0px
  border-bottom-right-radius: 0
  border-bottom-left-radius: 0
