
.results
  .result-label
    font-size: 85%
  .result-data
    font-size: 85%


/* Portrait phones and smaller */
@media (max-width: 480px)
  .navbar-inverse .username img
    display: none

  .navbar-inverse .username span
    display: none

  .searchresults
    width: 80%

  .searchbar
    width: 100%

  // .searchbar
  //   width: 30px
  .searchbarcontainer
    margin-left: -60px
    // margin-top: 30px
  //   padding-le
  //   width: 60px
/* Landscape phones and portrait tablets */
@media(max-width:767px)
  .appnavbtns
    display: inline-flex

/* Portrait tablets and small desktops */
@media(min-width:768px) and (max-width: 991px)
  .searchresults
    margin-top: -70px
    width: 90%

/* Landscape tablets and medium desktops */
//@media(min-width:992px) and (max-width: 1199px) {}

/* Large desktops and laptops */
//@media(min-width:1200px) {}

.form-search
  padding: 0px
  margin: 0
  //margin-bottom: 40px

.form-search .form-signin-heading,
.form-search .checkbox
  margin-bottom: 10px

.form-search .checkbox
  font-weight: normal

.form-search .form-control
  position: relative
  height: auto
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  // padding: 10px
  font-size: 16px

.form-search .form-control:focus
  z-index: 2

.form-search input[type="search"]
  margin-top: 0px
  border-bottom-right-radius: 0
  border-bottom-left-radius: 0
