.row
  .col.s2.push-s10{:style => "margin-top:-20px;"}
    %h7
      Step 2 of 3
  .col.s8.push-s3{:style => "margin-top: 20px;"}
    .flash
      = render partial: "shared/flash_messages", flash: flash
  .col.s5.push-s2
    %h6{:style => "margin-bottom: 30px"}
      Upload supporting medical credential documents:
.col.s10.push-s2
  .drop-area
    .row
      .col.s8.push-s1
        = simple_form_for(:medical, html:{class: 'dropzone', id:'my-dropzone', :style => "height: 220px; margin-bottom: 40px"}, url: med_upload_url(@medFolder.id))  {}
        %form.form-horizontal{:role => "form", :method => "get", :action => medical_upload_path}
          .form-group
            .col.sm5
              %button.btn.btn-primary.btn-lg{:type => "submit"} Submit
