.col-md-12.col-sm-12
  %h3
    Upload Supporting Medical Credential Documents
  .drop-area
    .row
      .col-md-12
        = simple_form_for(:medical, html:{class: 'dropzone', id:'my-dropzone'}, url: med_upload_url(@medFolder.id))  {}
  %form.form-horizontal{:role => "form", :method => "get", :action => medical_upload_path}
    .form-group
      .col-sm-6
        %button.btn.btn-primary.btn-lg{:type => "submit"} Submit
