.index-banner.section.no-pad-bot
  .container
    .row
      .col.s4.push-s4{:style => "margin-top: 10px;"}
        .flash
          = render partial: "shared/flash_messages", flash: flash
      .col.s12
        .col.s4.push-s4{:style => "margin-top: 20px"}
          %form.form-horizontal{:role => "form", :method => "post", :action => enter_password_submit_path, :name => "myForm"}
            .form-group{:style => "inline"}
              %label.control-label.col-sm-2{:for => "password"} Password:
              %input#password.form-control.validate{:type => "password", :name => "password", :required => ""}
            .form-group{:style => "inline"}
              %button.waves-effect.btn.white.black-text{:type => "submit", :style => "text-decoration: none;"} Submit
