:css

  .popover {
    max-width: 330px
  }

.home
  .container
    = render 'layouts/sidenav'
    .col-md-9.col-sm-8.col-xs-9.pull-right
      .flash
        = render partial: "shared/flash_messages", flash: flash
    .col-md-9.col-sm-8.col-xs-9.pull-right{:style => "padding: 20px; background: #fff;", :class => "myvaulttable"}
      .panel.panel-default{:style => "margin-bottom: 0px"}
        .panel-heading
          .pull-right.h4
            %button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} Upload
          %h2 My Vault for Uploads
          .sub-title
            = "Personal & shared files"
            .col-md-12.col-sm-12
              %h3
                Completed Onboarding Form:
              %iframe{:height => "600", :width => "100%", :src => @previewURL, :allowfullscreen => 'allowfullscreen'}
