

.home
  %h5(style="margin-top: -5px; font-size: 120%;")
    = link_to '<< Back to Upload & Sign', uploadsign_path
  .container(style="text-align:center;")
    %iframe{:src => @url, :width => '960px', :height => '850px', :frameBorder => '0', :allowfullscreen => 'allowfullscreen'}
