.container
  %h5(style="font-size: 120%;")
    = link_to '<< Back to Upload & Sign', uploadsign_path
  .row(style="text-align:center;")
    .col.s12
      %iframe{:src => @url, :width => '100%', :height => '850px', :frameBorder => '0', :allowfullscreen => 'allowfullscreen'}
