%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}

.header{:style => "width: 100%; position: absolute; left: 0;"}
  .defaultsize{:style => "position: absolute; top: 10px; left: 90px;"}
    %img.brand-logo{:src => "http://stokedproject.com/wp-content/uploads/2015/05/roche.png", :style => "width: 140px;"}
  .name{:style => "position: absolute; top: 5px; right: 125px;"}
    %span
      = image_tag (session[:userinfo][:info][:image]), :width => '40px', :class => 'img-circle'
    %span
      = "#{session[:userinfo][:info][:name]}"
.flash
  .container
    = render partial: "shared/flash_messages", flash: flash
