.index-banner.section.no-pad-bot
  .container
    = render 'layouts/sidenav'
    .row
      .col.m12.l10.push-l2
        %h3.thin{:style => "margin-top: 35px; font-size: 28px; letter-spacing: 1.5px; text-color: #002557;"}
          %i.material-icons.prefix{:style => "font-size: 28px;"} done
          Account Submissions
        %h6.caption.thin{:style => "font-size: 16px;"}
          Submit a new business application
        -# .help-icon.btn{"data-toggle" => "chardinjs", :id => "opentour", :onclick => "chardinToggle()", :style => "padding: none; font-color: #fff !important;"}
        -#   %i.material-icons.prefix{:style => "font-size: 18px; color: #222222;"} info_outline
        -#   %span{:style => "color: #222222; position: relative; top: -4px; left: -3px; text-transform: lowercase; font-size: 12px;"}
        -#     info
        .col.s12{:style => "margin-top: 35px; margin-left: 30px"}
          .col.s2.push-s10{:style => "margin-top:-20px;"}
            %h7{:style => "z-index: 999999;", "data-intro" => "Your current progress in this workflow", "data-position" => "left"}
              Step 1 of 2
          .col.s8.push-s2{:style => "margin-top: 30px;"}
            .flash
              = render partial: "shared/flash_messages", flash: flash
          .col.s5
            %h6{:style => "margin-bottom: 30px"}
              Upload new business application documents:
          .col.s10.push-s1
            .drop-area
              = simple_form_for(:medical, html:{class: 'dropzone', id:'my-dropzone', :style => "margin-bottom: 40px"}, url: account_doc_upload_url(@newAccount.id))  {}
              %form.form-horizontal{:role => "form", :method => "get", :action => list_account_path(@newAccount.id)}
                .form-group
                  .col.s5
                    %button.waves-effect.btn.white.black-text{:type => "submit"} Submit

:javascript

  Dropzone.options.myDropzone = {
    init: function() {
      this.on("queuecomplete", function(file) {
        // setTimeout(function() {location.reload();}, 2000);
      });
    }
  };
